<?xml version="1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.DevOOPS.barrier.Mapper.AdminMapper">

    <insert id="createAdmin" parameterType="com.DevOOPS.barrier.DTO.dto">
        INSERT INTO admin(admin_id, admin_password)
        VALUES(#{adminId}, #{adminPassword})
    </insert>
    <delete id="deleteAdmin" parameterType="string">
        DELETE FROM admin WHERE admin_id = #{adminId}
    </delete>
    <insert id="ReportAPICall" parameterType="com.DevOOPS.barrier.DTO.ReportAPIdto">
        INSERT INTO TyphoonAPI(idx, stnId, title, tmFc, tmSeq)
        VALUES(#{idx}, #{stnId}, #{title}, #{tmFc}, #{tmSeq})
    </insert>



</mapper>