<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.DevOOPS.barrier.Mapper.PastTypMapper">

    <select id="getTypList" parameterType="com.DevOOPS.barrier.DTO.TypListdto" resultType="com.DevOOPS.barrier.DTO.TypListdto">
        SELECT *
        FROM typ_list
        WHERE idx = #{idx}
    </select>

    <select id="getPastTyp" parameterType="java.time.LocalDateTime" resultType="com.DevOOPS.barrier.DTO.PastTypdto">
        SELECT typ_date As typ_date, after_time As after_time, typ_name As typ_name, power As power, typ_size As typ_size
        FROM past_typ
        WHERE typ_date = #{typ_date}
    </select>

    <select id="getTypData" parameterType="java.time.LocalDateTime" resultType="com.DevOOPS.barrier.DTO.TypDatadto">
        SELECT *
        FROM past_typ
        WHERE typ_date = #{typ_date}
    </select>

    <select id="getTypDanger" parameterType="java.time.LocalDateTime" resultType="com.DevOOPS.barrier.DTO.TypDangerdto">
        SELECT typ_date As typ_date, after_time As after_time, typ_lat As typ_lat, typ_lon As typ_lon, typrad As typrad, power As power
        FROM past_typ
        WHERE typ_date = #{typ_date}
    </select>

    <select id="getIoTDanger" parameterType="java.time.LocalDateTime" resultType="com.DevOOPS.barrier.DTO.IoTDangerdto">
        SELECT typ_date As typ_date, after_time As after_time, typ_lat As typ_lat, typ_lon As typ_lon, typrad As typrad, power As power
        FROM past_typ
        WHERE typ_date = #{typ_date}
    </select>

</mapper>